In [ ]:
import torch

data = torch.load('./data/data.pth')
data

Data(edge_index=[2, 106850], x=[16320, 70], edge_attr=[106850, 1], y=[16320])

In [2]:
from lu_igi.gnn.train import get_masks, get_stratification

train_mask, test_mask = get_masks(data.y)
get_stratification(data.y, train_mask, test_mask)

             train  test
None          3269   363
residential   1729   192
business      1336   149
recreation    1852   206
special         67     8
industrial     533    59
agriculture    110    12
transport     5792   643

In [8]:
from lu_igi.gnn.train import train_model

model = train_model(data, train_mask, 1000)

loss : 1.76: 100%|██████████| 1000/1000 [00:39<00:00, 25.21it/s]

In [9]:
from lu_igi.gnn.test import test_model

accuracy, metrics_df = test_model(model, data, test_mask)
accuracy

0.4239558707643814

In [10]:
metrics_df

             precision    recall  f1 score
residential   0.451613  0.072917  0.125561
business      0.210375  0.489933  0.294355
recreation    0.391304  0.043689  0.078603
special       0.022472  0.250000  0.041237
industrial    0.195652  0.152542  0.171429
agriculture   0.087500  0.583333  0.152174
transport     0.649311  0.659409  0.654321

In [12]:
torch.save(model, './data/model.pth')