In [2]:
import torch

data = torch.load('./data/data.pth')
data

Data(edge_index=[2, 106850], x=[16320, 70], edge_attr=[106850, 1], y=[16320])

In [3]:
from lu_igi.classification.train import get_masks, get_stratification

train_mask, test_mask = get_masks(data.y)
get_stratification(data.y, train_mask, test_mask)

             train  test
None          3269   363
residential   1729   192
business      1336   149
recreation    1852   206
special         68     7
industrial     533    59
agriculture    110    12
transport     5791   644

In [5]:
from lu_igi.classification.train import train_model

model = train_model(data, train_mask, 10_000)

loss : 1.59: 100%|██████████| 10000/10000 [05:58<00:00, 27.93it/s]

In [9]:
from lu_igi.classification.test import test_model

accuracy, metrics_df = test_model(model, data, test_mask)
accuracy

0.44838455476753347

In [10]:
metrics_df

             precision    recall  f1 score
residential   0.567901  0.239583  0.336996
business      0.181319  0.221477  0.199396
recreation    0.485714  0.082524  0.141079
special       0.035714  0.571429  0.067227
industrial    0.136752  0.271186  0.181818
agriculture   0.075472  0.666667  0.135593
transport     0.699686  0.690994  0.695312

In [8]:
torch.save(model, './data/model.pth')